*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  display: flex;
  text-align: center;
  justify-content: space-between;
  padding: 0 10px;
  width: 100%;
  padding: 25px;

}
.logo h2{
  font-weight: 500;
  font-size: 24px;
  color:red;
  text-transform: capitalize;

}
#menu_list{
  display: flex;
  align-items: center;
}
#menu_list li{
   font-family:"OpenSans-SemiBold";
    font-weight: 600;
    font-size: 18px;
    list-style: none;
    margin-left: 100px;
    text-transform: capitalize;  
    cursor: pointer;
}