
.hero_banner{
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 10px 20px;
}
.head_menu ul{
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 20px;
}
.head_menu ul li{
  
  padding: 0px 25px;
  
}